@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #263179;
  padding: 0.7em;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
  z-index: 1;
  transition: 0.25s;
}

.logo {
  z-index: 1;
  display: flex;
  margin-left: 10px;
  align-items: center;
  transition: 0.25s;
  margin-left: 30px;
}

.logo img {
  width: 2.5em;
  margin-right: 0.5em;
}

.logo h2 {
  color: white;
}

.logo a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin-right: 10px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  width: 35%;
  margin-right: 30px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  padding: 0.65em;
  transition: 0.25s;
  font-size: 1.1em;
  font-weight: 700;
}

li a:hover {
  background-color: #7f88d8;
  border-radius: 0.35em;
}

.menu {
  display: none;
}

.flex-row {
  max-height: 100vh;
  border: 1px solid red;
  background-image: linear-gradient(#f2f5fc, white);
}

.flex-row#home {
  background-image: url("../images/hero-bg.png");
}

.flex-row#contact {
  height: 100vh;
  background-image: linear-gradient(white, #f2f5fc);
}

.flex-row#row-tambah {
  max-height: 2000px;
}

.flex-row#row-katalog {
  min-height: 100vh;
}

.flex-content {
  display: flex;
  align-items: center;
  margin: 75px 10%;
  padding: 50px 0;
  border: 1px solid green;
  padding-top: 0;
}

.flex-content article {
  border: 1px solid blue;
}

.flex-content#content-home {
  margin: 150px 10%;
}

.flex-content#content-tambah {
  border: 1px solid orange;
  margin: 150px 7%;
  max-width: 90vw;
}

.flex-content#content-katalog {
  max-width: 90vw;
  margin: 150px 7%;
}

.pad0 {
  padding: 0;
}

.col-dir {
  flex-direction: column;
}

.katalog-form img {
  width: 640px;
  max-width: 90vw;
  border-radius: 10px;
}

.flex-header {
  border: 1px solid black;
  margin-bottom: 2em;
}

h1 {
  font-size: 2.75em;
  font-weight: bold;
  color: #263179;
  margin-bottom: 0.5em;
  padding: 0 100px 0 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 100;
  color: #444444;
  margin-bottom: 1.5em;
  padding: 0 20px 0 0;
}

.flex-header h2 {
  font-size: 1.25em;
  padding: 0.25em 0;
  text-align: center;
  color: #4154f1;
}

.flex-header h3 {
  text-align: center;
  font-weight: 700;
  padding: 0 25px;
  color: #263179;
  margin: 0;
}

.katalog-header {
  display: flex;
  align-items: center;
  font-size: 1.25em;
}

.btn {
  text-decoration: none;
  background: #4154f1;
  padding: 0.6em 1.9em;
  font-weight: normal;
  border-radius: 6px;
  color: white;
  font-size: 1.3em;
  transition: 0.5s;
}

.btn:hover {
  background: #212b81;
}

.flex-card {
  display: flex;
  width: 100%;
}

#form input[type="submit"] {
  float: right;
  padding: 10px;
  font-size: 0.9em;
  color: white;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #212b81;
}

#form input[type="submit"]:hover {
  background-color: #4154f1;
}

.form-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #979797;
  border-radius: 10px;
  margin: 1em 0;
  padding: 1.5em;
  width: 640px;
  max-width: 90vw;
}

.form-card p {
  font-size: 1.25em;
  margin-bottom: 1em;
}

.form-card input {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
}

.search-form form {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
}

.search-form input:first-child {
  width: 200px;
  flex-basis: 70%;
  padding: 0.5em;
  border-color: rgb(33, 43, 129, 0.4);
  border-radius: 5px;
  margin-right: 1em;
}

.search-form input:last-child {
  padding: 5px;
  /* width: 10%; */
  cursor: pointer;
  flex-basis: 30%;
  letter-spacing: 1px;
  background-color: #4154f1;
  color: white;
  border-radius: 5px;
  border: none;
}

.katalog-card {
  display: flex;
  border-radius: 10px;
  padding: 2em;
  width: 1156px;
  max-width: 90vw;
}

.katalog-card > a {
  text-decoration: none;
  background: #4154f1;
  padding: 0.6em;
  border-radius: 6px;
  color: white;
  font-size: 1.1em;
  max-width: fit-content;
  margin: 15px 0;
  transition: 0.2s;
}

.katalog-card > a:hover {
  background-color: #263179;
}

.profile-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: 33.3%;
  margin: 0 2.5em;
  height: 65vh;
  transition: 0.25s;
  box-shadow: 5px 5px 10px grey;
  padding: 2em;
  width: 40vw;
  transition: 0.25s;
}

.profile-card:hover {
  transform: scale(1.025);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: 33.3%;
  margin: 0 2.5em;
  height: 65vh;
  transition: 0.25s;
  box-shadow: 5px 5px 10px grey;
}

.card:hover {
  transform: scale(1.075);
  box-shadow: 1px 1px 100px grey;
}

.card img {
  width: 15em;
  border: 1px solid black;
  margin: 20px 10px;
}

.card h3 {
  font-weight: 700;
  padding: 0 25px;
  color: #263179;
  margin: 0.5em 0 0;
}

.card p {
  padding: 2em 2em;
  text-align: center;
}

.profile-card img {
  width: 15em;
  height: 15em;
  border-radius: 10em;
  object-fit: cover;
  margin: 0 3em 0 0;
  transition: 0.25s;
}

.profile-card img:hover {
  transform: scale(1.25);
  border-radius: 15px;
  box-shadow: 1px 1px 100px grey;
}

.profile-contact {
  margin: 20px 0 0 0;
}

.profile-contact img {
  width: 30px;
  height: 30px;
  margin: 0 20px 0 0;
  border-radius: 0.1px;
}

.profile-contact img:hover {
  transform: scale(1.5);
  box-shadow: 1px 1px 100px grey;
  border-radius: 0;
}

.profile-header h3 {
  margin: 1.5em 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  color: #263179;
}

.book-card {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  transition: 0.25s;
}

.book-card:hover {
  box-shadow: 5px 5px 10px grey;
}

.book-info h2 {
  color: #212b81;
}

footer {
  background: #263179;
  padding: 10px 0em;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

@media screen and (max-width: 1280px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 75vw;
    z-index: 0;
    flex-direction: column;
    background-color: #263179;
    transform: translateX(100%);
    transition: 0.5s;
    opacity: 0;
    margin-right: 0;
  }

  nav ul.slided {
    transform: translateX(0);
    opacity: 1;
  }

  .logo {
    margin-left: 0;
  }

  .menu {
    display: flex;
    height: 30px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu span {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    transition: 0.25s;
    z-index: 2;
  }

  .flex-row#feature {
    max-height: 300vh;
    background-image: linear-gradient(#f2f5fc, white);
    border: 1px solid black;
  }

  .flex-content {
    display: flex;
    flex-direction: column;
    margin: 75px 10%;
    padding: 50px 0;
    border: 1px solid black;
  }

  .flex-content article {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-content#content-home {
    padding-top: 50px;
  }

  article img#image-main {
    display: none;
  }

  .pad0 {
    padding: 0;
  }

  .col-dir {
    flex-direction: column;
  }

  .flex-header {
    border: 1px solid black;
    margin-bottom: 2em;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
    color: #263179;
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0 0 0 0;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 100;
    color: #444444;
    margin: 0.5em 0 1.5em 0em;
    padding: 0 20px 0 0;
  }

  .flex-header h2 {
    font-size: 1.25em;
    padding: 0.25em 0;
    text-align: center;
    color: #4154f1;
  }

  .flex-header h3 {
    text-align: center;
    font-weight: 700;
    padding: 0 25px;
    color: #263179;
    margin: 0;
  }

  .btn {
    text-decoration: none;
    background: #4154f1;
    padding: 0.6em 1.9em;
    font-weight: normal;
    border-radius: 6px;
    color: white;
    font-size: 1.3em;
    transition: 0.5s;
  }

  .btn:hover {
    background: #212b81;
  }

  .flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    flex-basis: 0;
    margin: 0 0 2em;
    height: 65vh;
    transition: 0.25s;
    box-shadow: 5px 5px 10px grey;
  }

  .profile-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    flex-basis: 0;
    margin: 0 2.5em;
    height: 65vh;
    transition: 0.25s;
    box-shadow: 5px 5px 10px grey;
    padding: 2em;
    align-items: center;
    width: 50%;
  }

  .card:hover {
    transform: scale(1.075);
    box-shadow: 1px 1px 100px grey;
  }

  .card img {
    width: 15em;
    border: 1px solid black;
    margin: 20px 10px;
  }

  .card h3 {
    font-weight: 700;
    padding: 0 25px;
    color: #263179;
    margin: 0.5em 0 0;
  }

  .card p {
    padding: 2em 2em;
    text-align: center;
  }

  .profile-card img {
    width: 12em;
    height: 12em;
    border-radius: 6em;
    object-fit: cover;
    margin: 0;
    transition: 0.25s;
  }

  .profile-card img:hover {
    transform: scale(1.25);
    border-radius: 15px;
    box-shadow: 1px 1px 100px grey;
  }

  .profile-contact {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-evenly;
  }

  .profile-contact img {
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
    margin: 0;
    border-radius: 0.1px;
  }

  .profile-contact img:hover {
    transform: scale(1.5);
    box-shadow: 1px 1px 100px grey;
    border-radius: 0;
  }

  .profile-header h3 {
    margin: 1.5em 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    color: #263179;
  }

  .profile-header p {
    text-align: center;
  }

  footer {
    position: relative;
    bottom: 0;
    margin: 3em 0 0 0;
    width: 100%;
    background: #263179;
    padding: 10px 0em;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 650px) {
  .flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    flex-basis: 33.3%;
    margin: 0 0 2em;
    height: 65vh;
    transition: 0.25s;
    box-shadow: 5px 5px 10px grey;
  }

  .profile-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    flex-basis: 33.3%;
    margin: 0 2.5em;
    height: 65vh;
    transition: 0.25s;
    box-shadow: 5px 5px 10px grey;
    padding: 2em;
    align-items: center;
    width: 100%;
  }

  .profile-card img {
    width: 14em;
    height: 14em;
    border-radius: 10em;
    object-fit: cover;
    margin: 0;
    transition: 0.25s;
  }

  .profile-contact {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-evenly;
  }

  .profile-contact img {
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
    margin: 0;
    border-radius: 0.1px;
  }
}
